.car-slide-content {
    position: absolute;
    left: calc( ( 100% - 164rem ) / 2 );
    top: 3rem;
    z-index: 2;
    width: 40rem;

    @media screen and (max-width: 1310px) {
        left: auto;
    }

    h1 {
        color: #fff;
    }

    .prop-entry {
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.5em;
        margin-bottom: 2rem;
    }
}