.page-main-img {
    width: 100%;
    height: calc( 100vw * .3 );
    margin-bottom: 3rem;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-image-content {
        @include strech;

        .site-center {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .slide-data {
                background-color: #000000aa;
                padding: 4rem;
                width: 100%;
                max-width: 51rem;

                .title {
                    font-size :3rem;
                    margin-bottom: 3rem;
                    line-height: 1.5em;
                    color: #fff;
                }

            }
        }
    }
}

.page-title {
    margin-bottom: 7rem;

    &.no-image {
        margin-top:7rem;
    }

    h1 {
        margin-bottom:0;
    }
}