/*!
Theme Name: laluna
Theme URI: http://underscores.me/
Author: ndrv
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: laluna
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

laluna is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}

input, textarea {
	border: 0px solid;
}

:root {
	--red: $red;
	--grey: $grey;
	--dgrey: $dgrey;
}

@font-face {
	font-family: Toyota;
	src: url(assets/fonts/ToyotaType-Regular.woff2) format("woff2"), url(/fonts/ToyotaType-Regular.woff) format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Toyota;
	src: url(assets/fonts/ToyotaType-Bold.woff2) format("woff2"), url(/fonts/ToyotaType-Bold.woff) format("woff");
	font-weight: 700;
	font-display: swap;
}

body {
	font-family: Toyota, sans-serif;
}

h1 {
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 2rem;
}

h1 {
	font-size: 25px;
}

@media screen and (min-width: 560px) {
	h1 {
		font-size: calc(25px + 10 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	h1 {
		font-size: 35px;
	}
}

h2 {
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 3rem;
}

h2 {
	font-size: 22px;
}

@media screen and (min-width: 560px) {
	h2 {
		font-size: calc(22px + 8 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	h2 {
		font-size: 30px;
	}
}

h3 {
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 2rem;
}

h3 {
	font-size: 22px;
}

@media screen and (min-width: 560px) {
	h3 {
		font-size: calc(22px + 8 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	h3 {
		font-size: 30px;
	}
}

h4 {
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 2rem;
}

h4 {
	font-size: 20px;
}

@media screen and (min-width: 560px) {
	h4 {
		font-size: calc(20px + 5 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	h4 {
		font-size: 25px;
	}
}

p {
	font-size: 1.8rem;
	line-height: 1.5em;
}

.large {
	font-weight: 700;
}

.large {
	font-size: 18px;
}

@media screen and (min-width: 560px) {
	.large {
		font-size: calc(18px + 6 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	.large {
		font-size: 24px;
	}
}

html {
	font-family: 'Raleway', sans-serif;
}

html {
	font-size: 6px;
}

@media screen and (min-width: 560px) {
	html {
		font-size: calc(6px + 2 * ((100vw - 560px) / 688));
	}
}

@media screen and (min-width: 1248px) {
	html {
		font-size: 8px;
	}
}

.site-center {
	max-width: 164rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media only screen and (max-width: 1439px) {
	.site-center {
		padding: 0 2.5rem;
	}
}

.page-layout {
	margin-top: 80px;
}

@media print {
	.page-layout {
		margin-top: 0;
	}
}

.flex-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.print-only {
	display: none;
}

@media print {
	.print-only {
		display: block;
	}
}

.red {
	color: #eb252b;
}

.formatted-text {
	font-size: 1.8rem;
	line-height: 1.5em;
}

.formatted-text p {
	margin-bottom: 2rem;
}

.formatted-text strong {
	font-weight: 700;
}

.formatted-text em {
	font-style: italic;
}

.formatted-text ul {
	padding-left: 2rem;
	margin-bottom: 2rem;
}

.formatted-text ul li {
	position: relative;
}

.formatted-text ul li::before {
	content: "";
	display: block;
	position: absolute;
	width: 1rem;
	height: 1rem;
	left: -2rem;
	top: .6rem;
	background-color: #eb252b;
}

.formatted-text ol {
	padding-left: 2rem;
	margin-bottom: 2rem;
}

.formatted-text ol li {
	list-style-type: decimal;
}

.cky-footer-wrapper div:last-child {
	display: none !important;
}

.cky-always-active {
	display: none !important;
}

.cky-switch input[type="checkbox"]:checked {
	background-color: #F94449 !important;
}

.background-wrapper {
	background-color: #fff;
}

.header-wrapper {
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.header-wrapper .menu-overlay {
	position: fixed;
	background-color: #000000aa;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	display: none;
}

.header-wrapper .site-header {
	display: flex;
	background-color: #fff;
}

.header-wrapper .site-header .logo {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 14rem;
	height: 3rem;
	background-image: url(assets/img/logo.webp);
	position: relative;
	margin: 2rem 0;
}

.header-wrapper .site-header .logo a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.header-wrapper .site-header .main-navigation {
	flex: 1 1 100%;
}

.header-wrapper .site-header .main-navigation .menu {
	display: flex;
	justify-content: center;
}

.header-wrapper .site-header .main-navigation .menu > li {
	transition: all .3s;
	font-size: 2rem;
	position: relative;
	line-height: 3rem;
	/* &.menu-item-has-children {
                        &:hover {
                            &:after {
                                @include pseudo;
                                position:fixed;
                                background-color: #000000aa;
                                top:0;
                                left:0;
                                bottom:0;
                                right:0;
                                z-index: -1;
                            }
                        }
                    } */
}

.header-wrapper .site-header .main-navigation .menu > li > a {
	display: block;
	padding: 2rem 2.5rem;
}

.header-wrapper .site-header .main-navigation .menu > li.current-menu-ancestor > a {
	color: #eb252b;
}

.header-wrapper .site-header .main-navigation .menu > li:hover > a {
	background-color: #eb252b;
	color: #fff;
}

.header-wrapper .site-header .main-navigation .menu > li:hover .sub-menu {
	display: block;
}

.header-wrapper .site-header .main-navigation .menu > li .sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color: #fff;
}

.header-wrapper .site-header .main-navigation .menu > li .sub-menu li {
	width: 30rem;
	border-bottom: 1px solid #ccc;
}

.header-wrapper .site-header .main-navigation .menu > li .sub-menu li a {
	display: block;
	padding: 2rem;
}

.header-wrapper .site-header .main-navigation .menu > li .sub-menu li a:hover {
	background-color: #efefef;
}

.header-wrapper .site-header .toyota-logo {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 7rem;
	height: 4rem;
	background-image: url(assets/svg/toyota_logo.svg);
	margin: 1.4rem 0;
}

footer {
	padding: 11rem 0 0;
	background-color: #e6e6e6;
}

footer .footer-nav-menus {
	display: flex;
	padding-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
	footer .footer-nav-menus {
		flex-wrap: wrap;
	}
}

footer .footer-nav-menus .footer-nav-column {
	flex: 0 0 25%;
}

@media only screen and (max-width: 767px) {
	footer .footer-nav-menus .footer-nav-column {
		flex: 0 0 50%;
		margin-bottom: 7rem;
	}
}

@media only screen and (max-width: 559px) {
	footer .footer-nav-menus .footer-nav-column {
		flex: 0 0 100%;
	}
}

footer .footer-nav-menus .footer-nav-column .footer-col-title {
	font-size: 2.2rem;
	margin-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
	footer .footer-nav-menus .footer-nav-column .footer-col-title {
		font-weight: 700;
	}
}

footer .footer-nav-menus .footer-nav-column p, footer .footer-nav-menus .footer-nav-column a {
	font-size: 1.8rem;
	line-height: 2.5em;
}

footer .social-networks {
	display: flex;
	margin-bottom: 4rem;
}

footer .social-networks .social-icon {
	width: 5.5rem;
	height: 5.5rem;
	background-color: #000;
	position: relative;
	margin-right: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3.5rem;
}

footer .social-networks .social-icon.facebook {
	background-image: url(assets/svg/facebook.svg);
}

footer .social-networks .social-icon.youtube {
	background-image: url(assets/svg/youtube.svg);
}

footer .social-networks .social-icon.instagram {
	background-image: url(assets/svg/instagram.svg);
}

footer .social-networks .social-icon a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

footer .legal-information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 7rem;
	border-top: 1px solid #333;
}

footer .legal-information .legal-info-menu ul {
	display: flex;
}

@media only screen and (max-width: 767px) {
	footer .legal-information .legal-info-menu ul {
		flex-direction: column;
	}
}

@media only screen and (max-width: 767px) {
	footer .legal-information .legal-info-menu ul li a {
		line-height: 2.5em;
	}
}

footer .legal-information .legal-info-menu a {
	display: inline-block;
	margin-right: 2rem;
	font-size: 1.8rem;
}

footer .legal-information .copyright {
	font-size: 1.8rem;
}

.button {
	font-size: 2rem;
	color: #000;
	background-color: #eeeeee;
	padding: 1.5rem 3.5rem 2rem;
	position: relative;
	display: inline-block;
	transition: all .3s;
	min-width: 25rem;
	text-align: center;
}

.button .icon {
	max-width: 2rem;
	max-height: 2rem;
	margin-left: 1rem;
}

.button:hover {
	background-color: #c8c8c8;
}

.button.red {
	color: #fff;
	background-color: #eb252b;
}

.button.red:hover {
	background-color: #b31015;
}

.button a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000000aa;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	opacity: 0;
	transform: translateY(-100%);
	transition: all .3s;
	z-index: 5;
}

.popup-wrapper.active {
	opacity: 1;
	transform: translateY(0);
}

.popup-wrapper .popup-content {
	max-width: 80vw;
	max-height: 80vh;
	position: relative;
}

.popup-wrapper .popup-content .close-popup {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: -6rem;
	right: 0;
	background-image: url(assets/svg/close.svg);
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

.popup-wrapper .popup-content video {
	max-width: 100%;
}

.side-menu {
	position: fixed;
	left: calc( 164rem + ( ( 100vw - 164rem ) / 2 ));
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

@media only screen and (max-width: 1439px) {
	.side-menu {
		left: auto;
		right: 2.5rem;
	}
}

.side-menu li {
	position: relative;
	padding: 2.5rem;
	background-color: #f2f2f2;
}

.side-menu li .hov-title {
	position: absolute;
	right: 0%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	padding: 2rem;
	color: #fff;
	background-color: #000000aa;
	width: 200px;
	transition: all .3s;
	z-index: -1;
	opacity: 0;
	display: none;
}

.side-menu li .hov-title::after {
	content: "";
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #000000aa;
	transform: translateY(-50%);
}

.side-menu li img {
	width: 4rem;
	height: 4rem;
}

.side-menu li::after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 1px solid #333;
	bottom: 0;
	left: 50%;
	width: 60%;
	transform: translateX(-50%);
}

.side-menu li:last-child::after {
	display: none;
}

.side-menu li:hover .hov-title {
	right: calc( 100% + 3rem);
	opacity: 1;
	display: block;
}

.slider {
	height: 30vw;
	min-height: 60rem;
	margin-bottom: 5rem;
}

.slider .slide {
	background-size: cover;
	background-position: center;
}

.slider .slide-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
	.slider .slide-content {
		justify-content: center;
		align-items: flex-end;
	}
}

.slider .slide-content .slide-data {
	width: 51rem;
	padding: 4rem;
	background-color: #00000085;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.slider .slide-content .slide-data {
		padding-bottom: 7rem;
		text-align: center;
	}
}

.slider .slide-content .slide-data .slide-title {
	font-size: 3rem;
	line-height: 1.5em;
	margin-bottom: 3rem;
}

.slider .swiper-pagination .swiper-pagination-bullet {
	width: 7.5rem;
	height: .5rem;
	border-radius: 0px;
	background-color: #fff;
	opacity: 1;
}

.slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #eb252b;
}

.index-cta {
	text-align: center;
	margin-bottom: 3rem;
}

.index-cta .button {
	margin: 0 1rem 2rem;
}

.page-block.buttons .block-content-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: -1rem;
	flex-wrap: wrap;
}

.page-block.buttons .block-content-wrapper .button {
	margin: 0 1rem 2rem;
}

.concept-entry {
	display: flex;
	margin-bottom: 7rem;
}

.concept-entry.txt-right .img-wrapper {
	order: 1;
}

.concept-entry.txt-right .concept-content {
	order: 2;
	padding-left: 5rem;
}

.concept-entry.txt-left .img-wrapper {
	order: 2;
}

.concept-entry.txt-left .concept-content {
	padding-right: 5rem;
	order: 1;
}

@media only screen and (max-width: 767px) {
	.concept-entry {
		flex-direction: column;
	}
	.concept-entry .img-wrapper {
		order: 1 !important;
		margin-bottom: 3rem;
	}
	.concept-entry .concept-content {
		padding: 0 !important;
		order: 2 !important;
	}
}

.concept-entry .img-wrapper {
	flex: 0 0 55%;
	height: 50rem;
}

.concept-entry .img-wrapper img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.page-block.form hundefined {
	display: none;
}

.page-block.form .nf-form-title {
	display: none;
}

.page-block.form .nf-field-container.checkbox-container .nf-field-label {
	display: block;
}

.page-block.form .nf-field-container.checkbox-container .nf-field-label label {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.5em;
}

.page-block.form .nf-form-content {
	width: 100%;
	max-width: 100rem;
	padding: 7rem 12rem 5rem;
	box-shadow: 8px -1px 41px -16px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 8px -1px 41px -16px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px -1px 41px -16px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 767px) {
	.page-block.form .nf-form-content {
		padding: 7rem 5rem 5rem;
	}
}

.page-block.form .nf-field-label {
	display: none;
}

.page-block.form .nf-before-form-content {
	display: none;
}

.page-block.form .nf-error .nf-error-msg {
	font-size: 1.8rem;
}

.page-block.form .nf-after-form-content .nf-error-msg {
	margin-top: 1rem;
	font-size: 1.8rem;
	text-align: center;
}

.page-block.full_width_image .image-wrapper {
	height: 50vh;
}

.page-block.full_width_image .image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page-block.full_width_image .caption {
	font-size: 1.8rem;
	font-style: italic;
	margin-top: 1rem;
	width: 80%;
	color: #333333;
}

.gallery-menu {
	display: flex;
	justify-content: flex-end;
	margin-top: -3rem;
	margin-bottom: 1rem;
}

.gallery-menu .gallery-entry {
	margin: 0 1rem;
	padding: 1rem;
	cursor: pointer;
	font-size: 2.2rem;
}

.gallery-menu .gallery-entry.active {
	color: #eb252b;
	font-weight: 700;
}

.galleries .single-gallery {
	display: none;
}

.galleries .single-gallery.active {
	display: block;
}

.galleries .single-gallery .gal-img-wrapper {
	height: 30rem;
	width: auto;
}

.galleries .single-gallery .gal-img-wrapper img {
	height: 30rem;
	width: auto;
}

.grid-entries {
	display: flex;
	margin: 0 0 -6rem;
	flex-wrap: wrap;
}

.grid-entries .grid-item-wrapper {
	flex: 0 0 33%;
	margin-bottom: 6rem;
}

@media only screen and (max-width: 767px) {
	.grid-entries .grid-item-wrapper {
		flex: 0 0 50%;
	}
}

.grid-entries .grid-item-wrapper .grid-item {
	padding: 0 2rem;
}

.grid-entries .grid-item-wrapper .grid-item img {
	max-width: 100%;
	margin-bottom: 2rem;
}

.grid-entries .grid-item-wrapper .grid-item-desc {
	font-size: 1.8rem;
	line-height: 1.5em;
}

.highlight-entry {
	display: flex;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 767px) {
	.highlight-entry {
		flex-direction: column;
	}
}

.highlight-entry:last-child {
	margin-bottom: 0;
}

.highlight-entry .title {
	flex: 0 0 43rem;
	padding-right: 5rem;
	border-right: 2px solid #eb252b;
	text-transform: uppercase;
	font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
	.highlight-entry .title {
		flex: 0 0 auto;
		font-weight: 700;
		padding: 0 0 2rem;
		border-bottom: 2px solid #eb252b;
		border-right: 0px solid;
		margin-bottom: 2rem;
	}
}

.highlight-entry .content {
	flex: 1 1 100%;
	padding-left: 5rem;
	font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
	.highlight-entry .content {
		padding-left: 0;
	}
}

.page-block .no-bottom-spacing {
	margin-bottom: -5rem;
}

.text_with_background .block-content-wrapper {
	background-size: cover;
	background-position: center;
	min-height: 50vh;
	padding: 5rem;
	position: relative;
	display: flex;
	align-items: center;
}

.text_with_background .block-content-wrapper::after {
	content: "";
	display: block;
	position: absolute;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.779237) 35%, rgba(0, 0, 0, 0) 100%);
}

.text_with_background .block-content-wrapper .vid-play-btn {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url(assets/svg/play.svg);
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	z-index: 3;
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.text_with_background .block-content-wrapper .vid-play-btn {
		left: auto;
		right: 0;
	}
}

.text_with_background .block-content-wrapper .content {
	position: relative;
	z-index: 2;
	width: 40%;
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.text_with_background .block-content-wrapper .content {
		width: 70%;
	}
}

.contacts-wrapper {
	display: flex;
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper {
		flex-wrap: wrap;
	}
}

.contacts-wrapper .col {
	flex: 0 0 55%;
	position: relative;
	min-height: 40rem;
	display: flex;
}

.contacts-wrapper .col:first-child {
	flex: 0 0 45%;
	padding-right: 5rem;
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper .col:first-child {
		padding-right: 0rem;
		order: 2;
	}
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper .col {
		flex: 0 0 100% !important;
	}
}

.contacts-wrapper .col iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
}

.contacts-wrapper .col .contacts-data {
	flex: 1 1 100%;
	background-color: #f5f5f5;
	box-shadow: 8px -1px 41px -16px rgba(0, 0, 0, 0.75);
	padding: 6rem;
	font-size: 1.8rem;
}

.contacts-wrapper .col .contacts-data .cont-data-title {
	font-weight: 700;
	margin-bottom: 5rem;
}

.contacts-wrapper .col .contacts-data .cont-data-cols {
	display: flex;
}

@media only screen and (max-width: 1023px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols {
		flex-wrap: nowrap;
	}
}

@media only screen and (max-width: 559px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols {
		flex-wrap: wrap;
	}
}

.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col {
	flex: 0 0 50%;
}

@media only screen and (max-width: 1023px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col {
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col {
		flex: 0 0 50%;
	}
}

@media only screen and (max-width: 559px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col {
		flex: 0 0 100%;
	}
}

.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col .working-hours {
	margin-top: 0rem;
}

@media only screen and (max-width: 1023px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col .working-hours {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 767px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col .working-hours {
		margin-top: 0rem;
	}
}

@media only screen and (max-width: 559px) {
	.contacts-wrapper .col .contacts-data .cont-data-cols .cont-data-col .working-hours {
		margin-top: 2rem;
	}
}

.contacts-wrapper .col .contacts-data p {
	line-height: 2em;
}

.contacts-wrapper .col .contacts-data a {
	font-size: 1.8rem;
	line-height: 2em;
}

.contacts-wrapper .col .contacts-data .address {
	margin-bottom: 2rem;
}

.page-block {
	margin-bottom: 7rem;
}

.page-main-img {
	width: 100%;
	height: calc( 100vw * .3);
	margin-bottom: 3rem;
	position: relative;
}

.page-main-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page-main-img .main-image-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-main-img .main-image-content .site-center {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.page-main-img .main-image-content .site-center .slide-data {
	background-color: #000000aa;
	padding: 4rem;
	width: 100%;
	max-width: 51rem;
}

.page-main-img .main-image-content .site-center .slide-data .title {
	font-size: 3rem;
	margin-bottom: 3rem;
	line-height: 1.5em;
	color: #fff;
}

.page-title {
	margin-bottom: 7rem;
}

.page-title.no-image {
	margin-top: 7rem;
}

.page-title h1 {
	margin-bottom: 0;
}

.car-slide-content {
	position: absolute;
	left: calc( ( 100% - 164rem ) / 2);
	top: 3rem;
	z-index: 2;
	width: 40rem;
}

@media screen and (max-width: 1310px) {
	.car-slide-content {
		left: auto;
	}
}

.car-slide-content h1 {
	color: #fff;
}

.car-slide-content .prop-entry {
	color: #fff;
	font-size: 1.8rem;
	line-height: 1.5em;
	margin-bottom: 2rem;
}

.car-list-block h2 {
	text-align: center;
}

.car-list-wrapper {
	overflow: hidden;
	position: relative;
	transition: all .3s;
	box-sizing: content-box;
	padding-bottom: 7rem;
	margin-bottom: 7rem;
	/* .button {
        display: none;
        cursor: pointer;
    } */
}

.car-list-wrapper .button {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	transform: translateX(-50%);
}

.car-list-wrapper .button.hidden {
	display: none;
}

.car-list-wrapper .button .expand-txt {
	display: none;
}

.car-list-wrapper .button .collapse-txt {
	display: inline-block;
}

.car-list-wrapper .button img {
	transform: rotate(180deg);
}

.car-list-wrapper.collapsed .button .collapse-txt {
	display: none;
}

.car-list-wrapper.collapsed .button .expand-txt {
	display: inline-block;
}

.car-list-wrapper.collapsed .button img {
	transform: rotate(0deg);
}

.car-type-list {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	flex-wrap: wrap;
}

.car-type-list .term-entry {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 0 2rem 2rem;
	position: relative;
	cursor: pointer;
}

.car-type-list .term-entry.active {
	font-weight: 700;
}

.car-type-list .term-entry.active::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1rem;
	height: .3rem;
	background-color: #eb252b;
}

.car-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.car-list .car-grid-entry-wrapper {
	flex: 0 0 20%;
	margin-bottom: 5rem;
	font-size: 1.8rem;
	padding: 2.5rem;
	display: none;
}

@media only screen and (max-width: 1247px) {
	.car-list .car-grid-entry-wrapper {
		flex: 0 0 25%;
	}
}

@media only screen and (max-width: 767px) {
	.car-list .car-grid-entry-wrapper {
		flex: 0 0 33%;
	}
}

@media only screen and (max-width: 559px) {
	.car-list .car-grid-entry-wrapper {
		flex: 0 0 50%;
	}
}

.car-list .car-grid-entry-wrapper.active {
	display: block;
}

.car-list .car-grid-entry-wrapper .car-grid-entry {
	padding-bottom: 3rem;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

.car-list .car-grid-entry-wrapper .car-grid-entry:hover {
	border-bottom: 1px solid #eb252b;
}

.car-list .car-grid-entry-wrapper .car-grid-entry img {
	width: 100%;
	height: auto;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .car-grid-title {
	font-weight: 700;
	margin-bottom: 1rem;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .prop-list {
	display: flex;
	flex-wrap: wrap;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .prop-list .prop-entry {
	color: #fff;
	margin-right: 1rem;
	padding: .3rem 1rem;
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 1.5rem;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .prop-list .prop-entry.new {
	background-color: #4caf50;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .prop-list .prop-entry.special-offer {
	background-color: #eb252b;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .prop-list .prop-entry.other {
	background-color: #00a0f0;
}

.car-list .car-grid-entry-wrapper .car-grid-entry .price-from {
	color: #6a6b70;
}

.car-list .car-grid-entry-wrapper .car-grid-entry a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.posts-block {
	margin-bottom: 9rem;
}

.posts-block h2 {
	text-align: center;
}

.posts-block .posts-list {
	display: flex;
	flex-wrap: wrap;
}

.posts-block .posts-list .post-wrapper {
	flex: 0 0 33.33%;
}

@media only screen and (max-width: 767px) {
	.posts-block .posts-list .post-wrapper {
		flex: 100%;
	}
}

.posts-block .posts-list .post-wrapper .post-entry {
	padding: 0 2rem;
	margin-bottom: 6rem;
}

.posts-block .posts-list .post-wrapper .post-entry .post-date {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.posts-block .posts-list .post-wrapper .post-entry img {
	width: 100%;
	height: auto;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 767px) {
	.posts-block .posts-list .post-wrapper .post-entry .news-img-wrapper {
		height: 40vw;
		margin-bottom: 3rem;
	}
}

.posts-block .posts-list .post-wrapper .post-entry .news-img-wrapper img {
	height: 100%;
	object-fit: cover;
}

.posts-block .posts-list .post-wrapper .post-entry h3 {
	font-size: 2.4rem;
	line-height: 1.5em;
	margin-bottom: 2rem;
}

.posts-block .posts-list .post-wrapper .post-entry .post-desc {
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: 3rem;
}

.posts-block .posts-list .post-wrapper .post-entry .button-wrapper {
	text-align: center;
}

.posts-block .more-button-wrapper {
	text-align: center;
	margin-top: -2rem;
}

/*# sourceMappingURL=style.css.map */