.cky-footer-wrapper div:last-child {
    display: none!important;
}

.cky-always-active {
    display: none!important;
}

.cky-switch input[type="checkbox"]:checked {
    background-color: #F94449!important;
}