html { 
    font-family: 'Raleway', sans-serif;
    @include fluid-type(6px, 8px);
    //font-size: 10px;
}

.site-center {
    max-width: 164rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include mq('xxl') {
        padding:  0 2.5rem;
    }
}

.page-layout {
    margin-top: 80px;

    @media print {
        margin-top: 0;
    }
}

.flex-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.print-only {
    display: none;

    @media print {
        display: block;
    }
}

.red {
    color: $red;
}

.formatted-text {
    font-size: 1.8rem;
    line-height: 1.5em;

    p {
        margin-bottom: 2rem
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    ul {
        padding-left: 2rem;
        margin-bottom: 2rem;

        li {
            position: relative;
            
            &::before {
                @include pseudo;
                width: 1rem;
                height: 1rem;
                left: -2rem;
                top: .6rem;
                background-color: $red;
            }
        }
    }

    ol {
        padding-left: 2rem;
        margin-bottom: 2rem;

        li {
            list-style-type: decimal;
        }
    }
}