@font-face {
    font-family: Toyota;
    src: url(assets/fonts/ToyotaType-Regular.woff2) format("woff2"),url(/fonts/ToyotaType-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Toyota;
    src: url(assets/fonts/ToyotaType-Bold.woff2) format("woff2"),url(/fonts/ToyotaType-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap
}

body {
    font-family: Toyota, sans-serif;
}

h1 {
    @include fluid-type(25px, 35px);
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

h2 {
    @include fluid-type(22px, 30px);
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 3rem;
}

h3 {
    @include fluid-type(22px, 30px);
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

h4 {
    @include fluid-type(20px, 25px);
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.5em;
}

.large {
    @include fluid-type(18px, 24px);
    font-weight: 700;
}