.slider {
    height: 30vw;
    min-height: 60rem;
    margin-bottom: 5rem;

    .slide {
        background-size: cover;
        background-position :center;
    }

    .slide-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include mq('md') {
            justify-content: center;
            align-items: flex-end;
        }


        .slide-data {
            width: 51rem;
            padding: 4rem;
            background-color: #00000085;
            color: #fff;

            @include mq('md') {
                padding-bottom: 7rem;
                text-align: center;
            }

            .slide-title {
                font-size: 3rem;        
                line-height: 1.5em;
                margin-bottom: 3rem;
                
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 7.5rem;
            height: .5rem;
            border-radius: 0px;
            background-color: #fff;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: $red;
            }
        }
    }
}

