.page-block.full_width_image {
    .image-wrapper {
        height: 50vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .caption {
        font-size: 1.8rem;
        font-style: italic;
        margin-top: 1rem;
        width:80%;
        color: $dgrey;
    }
}