.grid-entries {
    display: flex;
    margin: 0 0 -6rem;
    flex-wrap: wrap;


    .grid-item-wrapper {
        flex: 0 0 33%;
        margin-bottom: 6rem;

        @include mq('md') {
            flex: 0 0 50%;
        }

        .grid-item {
            padding: 0 2rem;

            img {
                max-width: 100%;
                margin-bottom: 2rem;
            }
        }

        .grid-item-desc {
            font-size: 1.8rem;
            line-height: 1.5em;
        }
    }
}