.gallery-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: -3rem;
    margin-bottom: 1rem;;

    .gallery-entry {
        margin: 0 1rem;
        padding: 1rem;
        cursor: pointer;
        font-size: 2.2rem;

        &.active {
            color: $red;
            font-weight: 700;
        }
    }
}

.galleries {
    .single-gallery {
        display: none;

        &.active {
            display: block;
        }

        .gal-img-wrapper {
            height: 30rem;
            width: auto;

            img {
                height: 30rem;
                width: auto;
            }
        }
    }
}