.contacts-wrapper {
    display: flex;
    @include mq('md') {
        flex-wrap: wrap;
    }

    .col {
        flex: 0 0 55%;
        position: relative;
        min-height: 40rem;
        display: flex;

        &:first-child {
            flex: 0 0 45%;
            padding-right: 5rem;

            @include mq('md') {
                padding-right: 0rem;
                order: 2;
            }
        }

        @include mq('md') {
            flex: 0 0 100% !important;
        }

        iframe {
            @include strech;
            width: 100%!important;
            height: 100%!important;
        }

        .contacts-data {
            flex: 1 1 100%;
            background-color: #f5f5f5;
            box-shadow: 8px -1px 41px -16px rgba(0,0,0,0.75);
            padding: 6rem;
            font-size: 1.8rem;
            

            .cont-data-title {
                font-weight: 700;
                margin-bottom: 5rem;
            }

            .cont-data-cols {
               display: flex;

                @include mq('lg') {
                    flex-wrap: wrap;
                }

                @include mq('md') {
                    flex-wrap:nowrap;
                }

                @include mq('sm') {
                     flex-wrap: wrap;
                }

                .cont-data-col {
                    flex: 0 0 50%;
                    
                    @include mq('lg') {
                        flex: 0 0 100%;
                    }

                    @include mq('md') {
                        flex: 0 0 50%;
                    }

                    @include mq('sm') {
                        flex: 0 0 100%;
                    }

                    .working-hours {
                        margin-top: 0rem;

                        @include mq('lg') {
                            margin-top: 2rem
                        }

                        @include mq('md') {
                            margin-top: 0rem;
                        }

                        @include mq('sm') {
                            margin-top: 2rem;
                        }
                    }
                }
            }

            p {
                line-height: 2em;
            }

            a{
                font-size: 1.8rem;
                line-height: 2em;
            }

            .address {
                margin-bottom :2rem;
            }
        }
    }
}