.page-block.form {
    hundefined {
        display: none;
    }

    .nf-form-title {
        display: none;
    }

    .nf-field-container.checkbox-container {
        .nf-field-label {
            display: block;
            label {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 1.5em;
            }
        }
    }

    .nf-form-content {
        width: 100%;
        max-width: 100rem;
        padding: 7rem 12rem 5rem;
        box-shadow: 8px -1px 41px -16px rgba(0,0,0,0.75);
        -webkit-box-shadow: 8px -1px 41px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 8px -1px 41px -16px rgba(0,0,0,0.75);

        @include mq('md') {
            padding: 7rem 5rem 5rem;
        }
    }

    .nf-field-label {
        display: none;
    }

    .nf-before-form-content {
        display: none;
    }

    .nf-error .nf-error-msg {
        font-size: 1.8rem;
    }

    .nf-after-form-content {
        .nf-error-msg {
            margin-top: 1rem;
            font-size: 1.8rem;
            text-align: center;
        }
    }

}