.concept-entry {
    display: flex;
    margin-bottom: 7rem;

    &.txt-right {
        .img-wrapper {
            order: 1;
        }

        .concept-content {
            order: 2;
            padding-left: 5rem;
        }
    }

    &.txt-left {
        .img-wrapper {
            order: 2;
        }

        .concept-content {
            padding-right: 5rem;
            order: 1;
        }
    }

    @include mq('md') {
        flex-direction: column;

        .img-wrapper {
            order: 1!important;
            margin-bottom: 3rem;
        }

        .concept-content {
            padding: 0!important;
            order: 2!important;
        }
    }

    .img-wrapper {
        flex: 0 0 55%;
        height: 50rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}