.text_with_background {
    .block-content-wrapper {
        @include cover;
        min-height: 50vh;
        padding: 5rem;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
            @include pseudo;
            @include strech;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,0.7792366946778712) 35%, rgba(0,0,0,0) 100%);
        }

        .vid-play-btn{
            @include contain;
            position:absolute;
            top: 50%;
            left: 50%;
            background-image: url(assets/svg/play.svg);
            transform: translate(-50%, -50%);
            width: 100px;
            height: 100px;
            z-index: 3;
            cursor: pointer;

            @include mq('md') {
                left: auto;
                right:0;
            }
        }

        .content {
            position: relative;
            z-index: 2;
            width: 40%;
            color: #fff;

            @include mq('md') {
                width: 70%;
            }
        }
    }
}