.page-block.buttons {
    .block-content-wrapper {
        display: flex; 
        justify-content: center;
        margin-bottom: -1rem;
        flex-wrap: wrap;

        .button {
            margin: 0 1rem 2rem;
        }
    }
}