.highlight-entry {
    display: flex;
    margin-bottom: 5rem;

    @include mq('md') {
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        flex: 0 0 43rem;
        padding-right: 5rem;
        border-right: 2px solid $red;
        text-transform: uppercase;
        font-size: 1.8rem;

        @include mq('md') {
            flex: 0 0 auto;
            font-weight: 700;
            padding: 0 0 2rem;
            border-bottom:  2px solid $red;
            border-right: 0px solid;
            margin-bottom: 2rem;
        }
    }

    .content {
        flex: 1 1 100%;
        padding-left: 5rem;
        font-size: 1.8rem;

        @include mq('md') {
            padding-left:0; 
        }
    }
}