.button {
    font-size: 2rem;
    color: #000;
    background-color: $grey2;
    padding: 1.5rem 3.5rem 2rem;
    position: relative;
    display: inline-block;
    transition: all .3s;
    min-width: 25rem;
    text-align: center;

    .icon {
        max-width: 2rem;
        max-height: 2rem;
        margin-left :1rem;
    }

    &:hover {
        background-color: darken( $grey2, 15% );
    }

    &.red {
        color: #fff;
        background-color: $red;

        &:hover {
            background-color: darken( $red, 15% );
        }
    }

    a {
        @include strech;
    }
}