footer {
    padding: 11rem 0 0;
    background-color: #e6e6e6;

    .footer-nav-menus {
        display: flex;
        padding-bottom: 4rem;

        @include mq('md') {
            flex-wrap: wrap;
        }

        .footer-nav-column {
            flex: 0 0 25%;

            @include mq('md') {
                flex: 0 0 50%;
                margin-bottom: 7rem;
            }

            @include mq('sm') {
                flex: 0 0 100%;
                
            }

            .footer-col-title {
                font-size: 2.2rem;
                margin-bottom: 4rem;

                @include mq('md') {
                    font-weight: 700;
                }

            }

            p, a {
                font-size: 1.8rem;
                line-height: 2.5em;
            }
        }
    }

    .social-networks {
        display: flex;
        margin-bottom: 4rem;


        .social-icon {
            width: 5.5rem;
            height: 5.5rem;
            background-color: #000;
            position: relative;
            margin-right: 3rem;
            background-position :center;
            background-repeat: no-repeat;
            background-size: 3.5rem;

            &.facebook {
                background-image: url(assets/svg/facebook.svg);
            }
            &.youtube {
                background-image: url(assets/svg/youtube.svg);
            }
            &.instagram {
                background-image: url(assets/svg/instagram.svg);
            }

            a {
                @include strech;
            }
        }
    }

    .legal-information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 7rem;
        border-top: 1px solid #333;

        .legal-info-menu {
            ul {
                display: flex;

                @include mq('md') {
                    flex-direction: column;
                }

                li {
                    a {
                        @include mq('md') {
                            line-height: 2.5em;
                        }
                    }
                }
            }

            a {
                display: inline-block;
                margin-right: 2rem;
                font-size: 1.8rem;
            }
        }

        .copyright {
            font-size: 1.8rem;
        }

    }
}