.background-wrapper{
    background-color: #fff;
}

.header-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 2;

    .menu-overlay {
        position:fixed;
        background-color: #000000aa;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index: -1;
        display: none;
    }

    .site-header {
        display: flex;
        background-color: #fff;

        .logo {
            @include contain;
            width: 14rem;
            height: 3rem;
            background-image: url(assets/img/logo.webp);
            position: relative;
            margin: 2rem 0;

            a {
                @include strech;
            }
        }

        .main-navigation {
            flex: 1 1 100%;

            .menu {
                display: flex;
                justify-content: center;

                &>li {
                    @include transition;
                    font-size: 2rem;
                    position: relative;
                    line-height: 3rem;

                    &>a {
                        display: block;
                        padding: 2rem 2.5rem;
                    }

                    &.current-menu-ancestor {
                        &>a {
                            color:$red;

                        }
                    }

                    &:hover {
                        &>a {
                            background-color: $red;
                            color: #fff;
                        }

                        

                        .sub-menu {
                            display: block
                        }
                    }

                    /* &.menu-item-has-children {
                        &:hover {
                            &:after {
                                @include pseudo;
                                position:fixed;
                                background-color: #000000aa;
                                top:0;
                                left:0;
                                bottom:0;
                                right:0;
                                z-index: -1;
                            }
                        }
                    } */

                    .sub-menu {
                        display: none;
                        position :absolute;
                        top: 100%;
                        left:0;
                        z-index: 1;
                        background-color: #fff;

                        li {
                            width: 30rem;
                            border-bottom: 1px solid #ccc;

                            a {
                                display: block;
                                padding: 2rem;
                                &:hover {
                                    background-color: #efefef;
                                }
                            }
                        }
                    }
                }
            }
        }

        .toyota-logo {
            @include contain;
            width: 7rem;
            height: 4rem;
            background-image: url(assets/svg/toyota_logo.svg);
            margin: 1.4rem 0;
        }
    }
}