.popup-wrapper {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity:0;
    transform: translateY( -100% );
    transition: all .3s;
    z-index: 5;

    &.active {
        opacity: 1;
        transform: translateY( 0 );
    }

    .popup-content {
        max-width: 80vw;
        max-height: 80vh;
        position: relative;

        .close-popup {
            @include cover;
            position: absolute;
            top: -6rem;
            right: 0;
            background-image: url(assets/svg/close.svg);
            width: 4rem;
            height: 4rem;
            cursor: pointer;
        }

        video {
            max-width: 100%;
        }
    }

    
}