.side-menu {
    position: fixed;
    left: calc( 164rem + ( ( 100vw - 164rem ) / 2 ));
    top:50%;
    transform: translateY(-50%);
    z-index: 2;

    @include mq('xxl') {
        left: auto;
        right: 2.5rem;
    }

    li {
        position: relative;
        padding: 2.5rem;
        background-color: #f2f2f2;

        .hov-title {
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            padding: 2rem;
            color: #fff;
            background-color: #000000aa;
            width: 200px;
            transition: all .3s;
            z-index: -1;
            opacity: 0;
            display: none;

            &::after {
                @include pseudo;
                left: 100%;
                top:50%;
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #000000aa;
                transform: translateY(-50%);
               
            }
        }

        img {
            width: 4rem;
            height: 4rem;
        }

        &::after {
            @include pseudo;
            border-bottom: 1px solid #333;
            bottom:0;
            left: 50%;
            width: 60%;
            transform: translateX(-50%);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:hover {
            .hov-title {
                right: calc( 100% + 3rem );
                opacity: 1;
                display: block;
            }
        }
    }
}