
.car-list-block {
    h2 {
        text-align: center;
    }
}

.car-list-wrapper {
    overflow: hidden;
    position: relative;
    transition: all .3s;
    box-sizing: content-box;

    padding-bottom: 7rem;
    margin-bottom: 7rem;

    .button {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        transform: translateX(-50%);

        &.hidden {
            display: none;
        }

        .expand-txt {
            display: none;
        }
        .collapse-txt {
            display: inline-block;
        }

        img {
            transform: rotate(180deg);
        }
    }

    &.collapsed {
        .button {

            .collapse-txt {
                display: none;
            }
            .expand-txt {
                display: inline-block;
            }

            img {
                transform: rotate(0deg);
            }
        }

        
    }

    

    /* .button {
        display: none;
        cursor: pointer;
    } */
    

}

.car-type-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;

    .term-entry {
        text-transform: uppercase;
        font-size: 2rem;
        margin: 0 2rem 2rem;
        position: relative;
        cursor: pointer;

        &.active {
            font-weight: 700;

            &::after {
                @include pseudo;
                left:0;
                right:0;
                bottom: -1rem;
                height: .3rem;
                background-color: $red;
            }
        }
    }
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .car-grid-entry-wrapper {
        flex: 0 0 20%;
        margin-bottom: 5rem;
        font-size: 1.8rem;
        padding: 2.5rem;
        display: none;

        @include mq('xl') {
            flex: 0 0 25%;
        }

        @include mq('md') {
            flex: 0 0 33%;
        }

        @include mq('sm') {
            flex: 0 0 50%;
        }

        &.active {
            display: block;
        }

        .car-grid-entry {
            padding-bottom: 3rem;
            border-bottom: 1px solid $grey2;
            position: relative;

            &:hover {
                border-bottom: 1px solid $red;
            }

            img {
                width: 100%;
                height: auto;
            }

            .car-grid-title {
                font-weight: 700;
                margin-bottom: 1rem;
            }

            .prop-list {
                display: flex;
                flex-wrap: wrap;

                .prop-entry {
                    color: #fff;
                    margin-right: 1rem;
                    padding: .3rem 1rem;
                    margin-bottom: 1rem;
                    font-weight: 700;
                    font-size: 1.5rem;

                    &.new {
                        background-color: #4caf50;
                    }

                    &.special-offer {
                        background-color: $red;
                    }

                    &.other {
                        background-color: #00a0f0
                    }
                }
            }

            .price-from {
                color: #6a6b70;
            }

            a {
                @include strech;
            }
        }
    }
}