.posts-block {
    margin-bottom: 9rem;

    h2 {
        text-align:center;
    }

    .posts-list {
        display: flex;
        flex-wrap: wrap;
        
        .post-wrapper {
            flex: 0 0 33.33%;

            @include mq('md') {
                flex: 100%;
            }

            .post-entry {
                padding: 0 2rem;
                margin-bottom: 6rem;

                .post-date {
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                }

                

                img {
                    width: 100%;
                    height: auto;
                    margin-bottom: 3rem;
                }

                .news-img-wrapper {
                    @include mq('md') {
                        height: 40vw;
                        margin-bottom: 3rem;
                        
                    }

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h3 {
                    font-size: 2.4rem;
                    line-height: 1.5em;;
                    margin-bottom: 2rem;
                }

                .post-desc {
                    font-size: 2rem;
                    line-height: 1.5em;;
                    margin-bottom: 3rem;
                }

                .button-wrapper{
                    text-align: center;

                }
            }
        }
    }

    .more-button-wrapper {
        text-align: center;
        margin-top: -2rem;
    }

}